<!DOCTYPE html>
{% extends "myApp/base.html" %}
{% load staticfiles %}

{% block body_block %}

<div class="jumbotron">
    <h1>Login Here</h1>
    <form action="{% url 'myApp:user_login' %}" method="post">
        {% csrf_token %}
        <label for="username">UserName:</label>
        <input type="text" placeholder="Enter Username" name="username">
        <label for="password">Password:</label>
        <input type="password" placeholder="Enter Password" name="password">

        <input type="submit" value="Login">
    </form>
</div>

{% endblock %}