<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Level 2</title>
    <link rel="stylesheet" href={% static "css/first.css" %}>
</head>
<body>
<h1>Hi! This is the Records Page</h1>
<h2>Records: </h2>
<div>
    {% if access_record%}
    <table>
        <thread>
            <th>Site Name</th>
            <th>Date Accessed</th>
        </thread>
    {% for acc in access_record %}
    <tr>
        <td>{{acc.name}}</td>
        <td>{{acc.date}}</td>
    </tr>
    {% endfor %}
    </table>
    {% else %}
    <p>NOACCESS RECORDS!</p>
    {% endif %}
</div>
</body>
</html>